body, html {
    height: 100%;
    margin: 0;
    font-family: 'Amaranth', sans-serif;
    background: url("images/night_stars_alps_87097_1920x1080.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 60vw;
    height: 40vh;
    margin: 0;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
}

#bgContainer {
    position: relative;
    left : calc(40vw/2);
    right : calc(40vw/2);
    border-radius: 2px;
    background-color: #EEEEEE; 
    filter: opacity(0.4) ;
}

#textContainer {
    position: relative;
    opacity: 1;
    left : calc(40vw/2);
    right : calc(40vw/2);
    top : -41vh;
}

#headerContainer {
    height: 40%;
    box-sizing: border-box;
}

#quoteContainer {
    height: 60%;
    box-sizing: border-box;
}

#btnContainer {
    width: 60%;
    margin: 0 auto;
    height: 5vh;
    text-align: center;
    position: relative;
    top: -37.5vh;
    box-sizing: border-box;
}

#header {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    line-height: 1em;
    padding: 5px 0 5px 0;
    background-color: transparent;
    color:white;
    font-family: inherit;
}

#quate {
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#quoteOwner {
    background-color: transparent;
    text-align: center;
    margin: 0;
    font-size: 1em;
    padding-top: 5px;
    color: white;
}

#twitterBtn, #newQuoteBtn {
    padding: 5px;
    width: 100px;
    background-color: #EEEEEE;
    border: none;
    font-family: inherit;
    font-weight: normal;
    color: black;
    display: inline-block;
    outline: none;
    font-size: 0.7em;
}
